<h1>New Recipe</h1>


<div class="container">
<%= form_tag "/recipes", method: :post do %>
  Title: <input type="text" name="recipe_title">
  <br />
  Ingredients: <input type="text" name="recipe_ingredients">
  <br />
  Directions: <input type="text" name="recipe_directions">
  <br />
  Chef: <input type="text" name="recipe_chef">
  <br />
  Prep Time: <input type="text" name="recipe_prep_time">
  <br />
  <input type="submit" value="Create Recipe">
<% end %>
</div>

